@model IEnumerable<Proyecto_Inge_Bases_Web.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<br>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionExacta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoPerfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalificacionPromedio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registrado.Contrasena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Canton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionExacta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoPerfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCierre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalificacionPromedio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registrado.Contrasena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
