@model IEnumerable<Proyecto_Inge_Bases_Web.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Es_Categoria_Fisica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria2.CorreoUsuarioRegistrado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registrado.Contrasena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Es_Categoria_Fisica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria2.CorreoUsuarioRegistrado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registrado.Contrasena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nombre }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nombre }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nombre })
        </td>
    </tr>
}

</table>
