@model Proyecto_Inge_Bases_Web.Models.Producto
@{
    ViewBag.Title = "Details";
}


@functions{
    public void redirect()
    {

        string correoActual = (string)Session["Correiro"];
        if (correoActual == null)
        {
            Html.Action("IniciarSesion", "Registrado");
        }
        else
        {
            Html.Action("MisProductosModal");
        }
    }



    public void redirectOfertar()
    {

        string correoActual = (string)Session["Correiro"];
        if (correoActual == null)
        {
            Html.Action("IniciarSesion", "Registrado");
        }
        else
        {
            Url.Action("Index", "Ofertas");
        }
    }

}





<!--Jorge Chavarría. Para la AS se agrega un pop up, task 35.4-->
@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        var TeamDetailPostBackURL = '/Ofertas/Details';
        $(function () {
            $("").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}

<div class="text-muted" style="margin-top: 35px;">
</div>


<head>

    <style>

        .cuerpo {
            margin: auto;
            width: 60%;
            padding: 10px;
            background: rgb(255, 255, 255);
        }
    </style>

</head>

<div class="cuerpo">

    <div class="text-secondary mt-4">
        <h2 style="font-weight:500; font-family:inherit; color:inherit">Detalles producto</h2>
    </div>

    <table class="mt-2">
        <tbody>
            <tr>
                <td>
                    <!-- https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_self -->
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                    <style>
                        .mySlides {
                            display: none;
                        }
                    </style>
                    @if (Model.ProductoImagen1 != null || Model.ProductoImagen2 != null || Model.ProductoImagen3 != null)
                    {
                        if (Model.ProductoImagen1 != null && (Model.ProductoImagen2 == null && Model.ProductoImagen3 == null))
                        {
                            <img id="idsrc1" src="data:image/png;base64,@Convert.ToBase64String(Model.ProductoImagen1)" alt="Imagen" style="width:600px; height:600px" />
                        }
                        else
                        {
                            <div class="w3-content w3-display-container">

                                @if (Model.ProductoImagen1 != null)
                                {
                                    <img id="idsrc1" src="data:image/png;base64,@Convert.ToBase64String(Model.ProductoImagen1)" alt="Imagen" style="width:600px; height:600px" class="mySlides" />
                                }
                                @if (Model.ProductoImagen2 != null)
                                {
                                    <img id="idsrc2" src="data:image/png;base64,@Convert.ToBase64String(Model.ProductoImagen2)" alt="Imagen" style="width:600px; height:600px" class="mySlides" />
                                }
                                @if (Model.ProductoImagen3 != null)
                                {
                                    <img id="idsrc3" src="data:image/png;base64,@Convert.ToBase64String(Model.ProductoImagen3)" alt="Imagen" style="width:600px; height:600px" class="mySlides" />
                                }
                                <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                                <button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                            </div>
                        }
                    }
                    else
                    {
                        <img src="https://i2.wp.com/www.bicifan.uy/wp-content/uploads/2016/09/producto-sin-imagen.png?fit=862%2C1104&ssl=1" style="width:600px; height:600px">
                    }
                    <script src="~/Scripts/SlideImg.js"></script>
                </td>

                <td>
                    <div class="mt-3 ml-2">
                        <table cellspacing="30">
                            <tr>
                                <td>
                                    <h3>

                                        @Html.DisplayFor(model => model.Nombre)

                                    </h3><br />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    De: @Html.DisplayFor(model => model.Cliente.Correo)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Publicado @Html.DisplayFor(model => model.FechaPublicado)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Categorias:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Condición :
                                    @Html.DisplayFor(model => model.Condicion)
                                </td>
                            <tr />

                            <tr>
                                <td>
                                    <h4>
                                        ₡
                                        @Html.DisplayFor(model => model.PrecioEstimado)
                                    </h4>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <br>@Html.DisplayFor(model => model.Descripcion)
                                </td>
                            </tr>


                            @{ foreach (var item in ViewBag.ProductosVirtuales)
                                {

                                    if (Model.ProductoID == item.ProductoID)
                                    {//Estoy en un producto en particular. Veo si este se encuentra en virtual
                                        <tr>
                                            <td>
                                                <br>Tipo de Archivo: @Html.DisplayFor(model => model.Virtual.TipoDeArchivo)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <br>Derechos de producto: @Html.DisplayFor(model => model.Virtual.DerechosDeProducto)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <br>Fuente(s): @Html.DisplayFor(model => model.Virtual.Fuentes)
                                            </td>
                                        </tr>


                                        break;//Ya lo encontre, no necesito buscar más
                                    }

                                } }



                        </table>

                        <table style="margin-top: 50px; margin-left: 55px">
                            <!-- Hago una tabla aparte, para manejar cada botón como una columna. -->

                            <tr>
                                <td>

                                    <p>
                                        <button style="background-color:  #00c0f3" type="button" class="btn btn-primary" data-toggle="modal" data-target="#DetailsOfertaModal">Ofertar</button>
                                        <!--<button class="btn btn-info" style="background-color:  #00c0f3" type="button" onclick="location.href = '@Url.Action("Index", "Ofertas")'"> Ofertar</button> -->
                                    </p>

                                </td>
                                <td>
                                    <p>
                                        <button class="btn btn-light" style="background-color:  whitesmoke" type="button" onclick="location.href = '@Url.Action("Index", "Ofertas")'">Cancelar</button> <!-- Hace falta poner la referencia-->
                                    </p>

                                </td>
                                <td>
                                    @*Boton de denuncia*@
                                    <p>
                                        @if (ViewBag.esCliente == true)
                                        {
                                            <a style="background-color: #DC3545" href="@Url.Action(actionName: "Realizar_Denuncia", controllerName: "Denuncias", routeValues: new{correo = Model.Cliente.Correo, productoID = Model.ProductoID})" class="btn btn-danger">
                                                Denunciar
                                            </a>
                                        }
                                        else
                                        {
                                            <a style="background-color: #DC3545" href="@Url.Action(actionName: "IniciarSesion", controllerName: "Registrado")" class="btn btn-danger">Denunciar</a>
                                        }
                                    </p>

                                </td>


                            </tr>

                        </table>

                    </div>

            <tr>
                <td>
                    <br>
                    <!--@Html.DisplayNameFor(model => model.Publicado)-->
                    <!--@Html.DisplayFor(model => model.Publicado)-->
                    @if ((this.Model.Publicado == false))
                    {
                        <p>Sin ofertar</p>
                    }
                    else
                    {
                        <p>Ofertado</p>
                    }
                </td>
            </tr>
    </table>
</div>
             </td>
         </tr>
    </tbody>
</table>

<div class="modal fade" id="DetailsOfertaModal" tabindex="-1" role="dialog" aria-labelledby="DetailsOfertaModalLabel" aria-hidden="true" style="padding-left: 10px; width: 100%; margin-top: 20px;">
    <div class="modal-dialog modal-lg" style="width:100%">
        <div class="modal-content" style="width:800px">
            <div class="modal-header">
                <div class="text-muted" style="margin-top: 10px; margin-left : 0px">
                    <h2>Mis Productos</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    @Html.Action("MisProductosModal", "Ofertas", new { sortOrder = "", currentFilter = "", searchString = "", page = 1, id = Model.ProductoID, correo = Model.CorreoCliente })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("DetailsOferta", "Ofertas", new { id = Model.ProductoID, correo = Model.CorreoCliente })'">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
