@model IEnumerable<Proyecto_Inge_Bases_Web.Models.Calificaciones_Cliente>

<!--Modulo Estadistica-->

@{
    <br />
    ViewBag.Title = "Lista de usuarios";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<!-- Titulo de la Página-->
<h2>@ViewBag.Title</h2>

<!DOCTYPE html>
<html>
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Detalles con respecto al tamaño, posicion, color y funcionamiento de tablas -->
    <style>


        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }
    </style>

    <style>


        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th {
            cursor: pointer;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>

    <!--Detalles con respecto a la información que se detalla en la página-->
    <div class="jumbotron text-center">
        <h6>Aquí se detalla la información de cada uno de los usuarios registrados en la aplicación.</h6>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <style>



                table {
                    border-collapse: collapse;
                    border: 1px solid black;
                }
            </style>

            <h2></h2>

            <!--Tabla de Filtro por Estrellas-->

            <h5>&nbsp;Filtrar por: </h5>
            <table>
                <tr>

                    <td>
                        <input type="checkbox" class="name" name="name" value="Sin Calificación" />  Sin Calificación
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="name" name="name" value="1" />  <p style="display:inline">&#11088</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="name" name="name" value="2" />  <p style="display:inline">&#11088</p><p style="display:inline">&#11088</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="name" name="name" value="3" />  <p style="display:inline">&#11088</p><p style="display:inline">&#11088</p><p style="display:inline">&#11088</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="name" name="name" value="4" />  <p style="display:inline">&#11088</p><p style="display:inline">&#11088</p><p style="display:inline">&#11088</p><p style="display:inline">&#11088</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="name" name="name" value="5" />  <p style="display:inline">&#11088</p><p style="display:inline">&#11088</p><p style="display:inline">&#11088</p><p style="display:inline">&#11088</p><p style="display:inline">&#11088</p>
                    </td>
                </tr>
            </table>

            <br><br>


        </div>
        <div class="col-sm-10">
            <!--Llamada a la función filtrarPorBarraBusqueda()-->
            <input type="text" id="myInput" onkeyup="filtrarPorBarraBusqueda()" placeholder="Buscar nombre o correo " title="Buscar">
            &nbsp;&nbsp;&nbsp;<svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>
            <table id="myTable">
                <!--Cuando se hace clic en un encabezado, ejecute la función sortTable-->
                <thead>
                    <tr>

                        <th onclick="sortTable(0)">Nombre &nbsp;&nbsp;&nbsp;&nbsp;⇵</th>
                        <th onclick="sortTable(1)">Correo &nbsp;&nbsp;&nbsp;&nbsp; ⇵</th>
                        <th onclick="sortTable(2)"> Estado &nbsp;&nbsp; &nbsp;&nbsp;⇵</th>
                        <th onclick="sortTable(3)">Calificaciones recibidas &nbsp;&nbsp;&nbsp;&nbsp; ⇵</th>
                        <th onclick="sortTable(4)">Calificación Promedio &nbsp;&nbsp; &nbsp;&nbsp;⇵</th>
                    </tr>
                </thead>
                <!--Información de Usuarios inventada-->
                @foreach (var item in Model)
                {
                    
                    <tbody id="body">


                        <tr>
                            <td>@Html.DisplayFor(model => item.Nombre)</td>
                            <td>@Html.DisplayFor(model => item.Correo)</td>
                            <td>
                                @if (item.Bloqueo == true)
                                {
                                    <p style="color:red">Bloqueado</p>
                                }
                                else
                                {
                                    <p style="color:green">Activo</p>
                                }
                            </td>
                            <td>@Html.DisplayFor(model => item.CantidadResenas)</td>
                            @{
                                int? x = 0;
                                x = item.SumaCalificaciones / item.CantidadResenas;
                                if (item.CantidadResenas == 0)
                                {
                                    <td style="display:none">Sin Calificación</td>
                                }
                                else
                                {
                                    <td style="display:none">@x</td>
                                }
                            }

                            <td style="display:none">@x</td>
                            <td>
                                @{
                                    var cnt_estrellas = 0;
                                    while (cnt_estrellas < x)
                                    {
                                        <p style="display:inline">&#11088</p>
                                        cnt_estrellas++;
                                    }
                                    if (cnt_estrellas == 0)
                                    {
                                        <p>Sin Calificación</p>
                                    }

                                }

                            </td>
                        </tr>
                    </tbody>
                                        
                                    }


            </table>
        </div>
    </div>
    <style>


        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th {
            cursor: pointer;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
    <script>
        function filtrarPorBarraBusqueda() {
            // Se declara variables
            var input, filter, table, tr, tdNombre, tdCorreo, i, txtNombre, txtCorreo;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            // Ciclo que recorrer todos los elementos de la lista y ocultar aquellos que no coinciden con la búsqueda
            for (i = 0; i < tr.length; i++) {
                tdCorreo = tr[i].getElementsByTagName("td")[0];
                tdNombre = tr[i].getElementsByTagName("td")[1];
                if (tdNombre) {
                    txtNombre = tdNombre.textContent || tdNombre.innerText;
                    txtCorreo = tdCorreo.textContent || tdCorreo.innerText;
                    if (txtNombre.toUpperCase().indexOf(filter) > -1 || txtCorreo.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }</script>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".name").on("click", function () {
                name_list = []
                $("#body tr").hide()
                var flag = 1
                $("input:checkbox[name=name]:checked").each(function () {
                    flag = 0;
                    var value = $(this).val().toLowerCase();
                    $("#body tr").filter(function () {
                        if ($(this).find("td").eq(4).text().toLowerCase().indexOf(value) > -1)
                            $(this).show()
                    });
                });
                if (flag == 1)
                    $("#body tr").show()
            });
        });
    </script>
    <script>

        function sortTable(n) {
            // Se declara variables
            var table, rows, switching, i, x, y, shouldSwitch, dir, first, second, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            // Establece la dirección de clasificación en ascendente:
            dir = "asc";
            //Se crea un ciclo que continuará ejecutandose hasta que no se haya realizado ningún cambio:
            while (switching) {
                // Se comienza asumiendo que no se ha realizado ningún cambio:
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    // Se comienza asumiendo que no se ha realizado ningún cambio:
                    shouldSwitch = false;
                    // Se Obtiene los dos elementos que desea comparar, uno de la fila actual y uno de la siguiente:
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    // Condicional que comprueba si las dos filas deben cambiar de lugar, basado en la dirección, asc o desc:
                    first = x.innerHTML.toLowerCase();
                    second = y.innerHTML.toLowerCase();


                    //las calificaciones se convierten a floats para que no se traten como texto a la hora de ordenar
                    if (n == 3 || n == 4) {
                        first = parseFloat(first)
                        second = parseFloat(second)

                        if (isNaN(first)) {
                            first = 0.0
                        }
                        if (isNaN(second)) {
                            second = 0.0
                        }
                    }
                    if (dir == "asc") {


                        if (first > second) {

                            // Si es así, se marca como un interruptor y se rompe el ciclo:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (first < second) {
                            // Si es así, se marca como un interruptor y se rompe el ciclo:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;

                    // Cada vez que se realiza un cambio, aumente este recuento en 1:
                    switchcount++;
                } else {
                    // Si no se ha realizado ningún cambio Y la dirección es "asc", establece la dirección en "desc" y ejecuta el ciclo while nuevamente
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }</script>
</body>
</html>