@model PagedList.IPagedList<Proyecto_Inge_Bases_Web.Models.Producto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<head>
    <style style="border:1px solid black;margin-left: 100px ;margin-right:auto;">


        .cuerpo {
            margin: auto;
            width: 88%;
            padding: 10px;
            background: rgb(255, 255, 255);
        }

        div.MediumTextSize {
            font-size: 125%;
        }

        div.HeaderTextSize {
            font-size: 150%;
        }
    </style>
</head>
<div class="cuerpo">
    <div class="text-muted" style="margin-top: 30px; margin-left : 0px">
        <h2>Elija un producto para subastar</h2>
    </div>

    <form style="margin-left : 0%">
        @using (Html.BeginForm("ListaProductos", "Mis Productos", FormMethod.Get))
        {
            <div class="form-group">

                <!--Esto solo agrega el searchbox hay que acomodarlo al look and feel, sin embargo como está ya sirve-->

                <div class="searchBar" style=" margin-left : 25% ">
                    <!--Buscar Producto:--> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) <!--Esto permite seguir viendo el criterio de busqueda-->
                    <input type="submit" value="Buscar" />
                </div>
                <!--Esto es para agregar producto, hay que acomodarlo al look and feel-->




            </div>
        }
    </form>

    
    <table class="table">
        <thead>
            <tr>
                <th span style="width: 350px">
                    <p style="text-align: center; vertical-align:top">
                        <strong>Imagen</strong>
                    </p>
                </th>
                <th span style="width: 250px">
                    <p style="text-align: center; vertical-align:top">
                        <a class="d-block text-dark text-decoration-none" onclick="location.href = '@Url.Action("ListaProductos", new {  searchBy = ViewBag.NameSortParm })'">
                            <strong>Nombre</strong>
                            <svg class="bi bi-arrow-down-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
                                <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </a>
                    </p>
                </th>
                <th span style="width: 200px">
                    <p style="text-align: center; vertical-align:top">
                            <!--Precio Estimado-->
                            <!--Solo lo ordena en 1 misma pagina-->
                            @*@Html.ActionLink("Precio Estimado", "Index", new { searchBy = ViewBag.SortPriceParm })*@
                            <a class="d-block text-dark text-decoration-none" onclick="location.href = '@Url.Action("ListaProductos", new {  searchBy = ViewBag.SortPriceParm })'">
                                @*<div class="p-1 py-2 mb-2 bg-white text-center rounded">*@
                    <p style="text-align: center; vertical-align:top">
                        <strong>Precio</strong>
                        <svg class="bi bi-arrow-down-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z" />
                            <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </p>
                    </a>
                    </p>
                </th>
                <th span style="width: 150px">
                    <p style="text-align: center; vertical-align:top">
                        <strong>Condición</strong>
                    </p>
                </th>
                <th span style="width: 150px">
                    <p style="text-align: center; vertical-align:top">
                        <strong>Estado</strong>
                    </p>
                </th>

                <th span style="width: 300px">
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                if (item.Publicado == false)
                {
                    <tr>
                        <td span style="width: 250px">
                            <p style="text-align: center; vertical-align:middle ">
                                @if (item.ProductoImagen1 != null)
                                {
                                    <img id="idsrc1" src="data:image/png;base64,@Convert.ToBase64String(item.ProductoImagen1)" alt="Imagen" style="width:100px; height:100px" />
                                }
                                else if (item.ProductoImagen2 != null)
                                {
                                    <img id="idsrc2" src="data:image/png;base64,@Convert.ToBase64String(item.ProductoImagen2)" alt="Imagen" style="width:100px; height:100px" />
                                }
                                else if (item.ProductoImagen3 != null)
                                {
                                    <img id="idsrc3" src="data:image/png;base64,@Convert.ToBase64String(item.ProductoImagen3)" alt="Imagen" style="width:100px; height:100px" />
                                }
                                else
                                {
                                    <img src="https://pngimage.net/wp-content/uploads/2018/06/imagen-no-disponible-png-4.png" alt="Imagen no disponible" style="width:100px; height:100px">
                                }
                            </p>
                        </td>
                        <td span style="width: 250px; vertical-align:middle">
                            <div class="MediumTextSize">
                                <p style="text-align: center; vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </p>
                            </div>
                        </td>
                        <td span style="width : 200px; vertical-align:middle">
                            <div class="MediumTextSize">
                                <p style="text-align: center; vertical-align:middle">
                                    ₡
                                    @Html.DisplayFor(modelItem => item.PrecioEstimado)
                                </p>
                            </div>
                        </td>

                        <td span style="width : 150px; vertical-align:middle">
                            <div class="MediumTextSize">
                                <p style="text-align: center; vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.Condicion)
                                </p>
                            </div>
                        </td>
                        <td span style="width: 150px; text-align:center; vertical-align:middle">
                            @if (item.Publicado == true)
                            {<div class="MediumTextSize">
                                    <p>Publicado para Trueque</p>
                                </div>
                            }
                            else if (item.Publicado == false)
                            {
                                <div class="MediumTextSize">
                                    <p>Sin publicar</p>
                                </div>
                            }
                            else
                            {
                                <p>--</p>
                            }
                        </td>
                        <td span style="width : 300px; vertical-align:middle" class="text-center" width="300px">

                            <button class="btn btn-info" style="background-color:  #00c0f3; margin:1px" type="button" onclick="location.href= '@Url.Action("Create", new {idProducto = item.ProductoID, correo = item.CorreoCliente })'">Subastar</button>

                        </td>

                    </tr>
                }

            }
        </tbody>
    </table> <br />

    <div style="text-align:center; margin-top: 20px">
        <!--Agrega los botones para la paginacion, falta acomodarlo al look n feel-->
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ListaProductos",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

</div>


