@model Proyecto_Inge_Bases_Web.Models.Categoria
    
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}
<div class="container" "mt-lg-auto" " ml-lg-auto"
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <br>
    <br>
    <h3>Borrar categoría</h3>
    <br>
    <div>
        <dt>
            @*  <h4>Categoría</h4>*@
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                    <br>
                    <br>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                    <br>
                    <br>
                </dd>

                @* <dt>*@
                @*@Html.DisplayNameFor(model => model.Categoria2.CorreoUsuarioRegistrado)*@
                @* </dt>*@

                @*<dd>*@
                @* @Html.DisplayFor(model => model.Categoria2.CorreoUsuarioRegistrado)*@
                @*</dd>*@

                @*<dt>*@
                @* @Html.DisplayNameFor(model => model.Registrado.Contrasena)*@
                @* </dt>*@

                @*  <dd>*@
                @* @Html.DisplayFor(model => model.Registrado.Contrasena)*@
                @* </dd>*@

            </dl>

            @using (Html.BeginForm())
            {
                @*@Html.AntiForgeryToken()*@

                <div class="form-actions no-color">
                    @* <input type="submit" value="Borrar" class="btn btn-default" />*@
                    <button type="submit" background="" name="submit" value="Delete" class="btn btn-default" style="background-color:#00c0f3;margin:5px" onclick="Validation(); location.href='@Url.Action("Index", "Categorias")'">Borrar</button>
                    @* @Html.ActionLink("Regresar a la lista de categorías", "Index")*@
                </div>
            }
</div>
        </body>
        </html>
         </div>
